.tabla1 table,.tabla1 tr, .tabla1 td, .tabla1 th{
    border: 1px solid black;
    border-collapse: collapse;
}

td,th{
    padding: 10px;
    text-align: center;
}

th{
    background-color: rgba(51, 130, 194, 0.63);
}

tfoot tr:first-child{
    background-color: rgba(51, 130, 194, 0.63);
}

tbody tr:nth-child(2n +1){
    background-color: rgba(152, 166, 179, 0.63);
}
tbody tr:nth-child(2n){
    background-color: rgba(207, 108, 211, 0.63);
}
.tabla1
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tabla2
{
    margin-top: 40px;
}

#contenedor
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.subrayado
{
    text-decoration: underline;
}

footer, .contenedor, .tabla2
{
    width: 100%;
}

.footerTabla
{
    width: 100%;
}

.phone
{
    width: 50%;
    text-align: end;
}

.mail
{
    width: 50%;
    text-align: start;
}

.centrar
{
    padding-left: 117px;
}

.containerMaps
{
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.containerMaps div
{
    margin-top: 10px;
    width: 578px;
    height: 478px;
    /* border: 1px solid black; */
}

h4
{
    text-align: center;
    font-size: 23px;
}
iframe
{

    width: 544px;
    height: 370px;
    margin-left: 14px;
    border-radius: 65px;
    text-shadow: 2px 2px 5px black;
    
}