* 
{
    font-family: cursive;
    padding: 0px;
}

.titulo-principal
{
    color: blueviolet;
    font-size: 40px;
    margin: 23px 2px -29px -2px;
}

.logo
{
    /* width: 180px;
     */
    background: beige;
    border-radius: 56px;
    transition: all 1s;
}

.logo:hover
{
    transform: rotateY(180deg);
}

.banner
{
    width: 100%;
    margin: 17px 0px -27px 0px;
}

.subtitulo
{
    text-align: center;
    background: #cfe8ff;
    margin-top: -1px;
}

.top-button
{
    font-size: 17px;
    text-align: end;
    margin: -24px 19px;
}

.top-button a
{
    display: inline-block;
    margin-right: 10px;
    
}

.banner
{
    width: 100%;
    height: 60vh;
    background-image: url("../assets/design1_image2.jpg");
    background-size: cover;
}

/* hover para que cuando pase el cursor del mouse por encima del boton haga algo. En este caso cambia de color */
.top-button a:hover
{
    background-color: rgb(93, 238, 238);
}


/* active para que cuando haga clik sobre el boton esta haga algo. En este caso se achica */
.top-button a:active   
{
    font-size: 14px;
}

a[href="#"]
{
    font-size: 22px;
}

.top-button a
{
    background: #ffffb6;
    color: black;
    padding: 10px;
    border-radius: 30px;
    text-decoration: none;
    box-shadow: 4px 3px 6px black;
}

/* .logo-contenedor
{
    display: inline-block;
} */

/* .al-costado
{
    margin: -206px 0px 4px 213px;
} */

/* .imagen-costado
{
    margin: 0px 229px;
} */

footer{
    text-align: center;
}

.imagen {
    width: 70px; /* Ancho deseado */
    height: auto; /* Altura ajustada automáticamente para mantener las proporciones */
    display: inline-block;
    margin-right: 90px;
    transition: all 1s;
    position: static;
}

.imagen:hover
{
    transform: rotate(360deg) translateY(-20px) scale(1.2); 
}

footer p
{
    font-size: 17px;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------- */

#contenedorMain
{
    width: 100%;
    height: 600px;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: 30px;
    
}

#div4
{
    width: 320px;
    /* height: 200px; */
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
}

#div4 img
{
    width: 260px;
    height: auto;
}

#div5
{
    width: 200px;
    /* height: 200px; */
    /* border: 1px solid black; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#div6
{
    width: 100%;
    height: 60%;
    /* border: 1px solid black; */

}

#div7
{
    width: 100%;
    height: 40%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#div7 img
{
    width: 300px;
    height: auto;
}

#divimg
{
    width: 358px;
    height: 234px;
    /* border: 1px solid black; */
    background-image: url(../assets/hoky.jpg);
}
.al-costado
{
    font-size: 21px;
    margin-left: 50px;
    margin-top: 31px;
}

.espaciado
{
    margin-top: 10px;
}

.al-costadoAbout
{
    font-size: 18px;
    margin-left: 50px;
    margin-top: 31px;
}

.espaciadoAbout
{
    margin-top: -17px;
}

#divimgAbout
{
    width: 358px;
    height: 234px;
    /* border: 1px solid black; */
    background-image: url(../assets/hockey2PS.jpg);
}

#divimgContact
{
    width: 358px;
    height: 234px;
    /* border: 1px solid black; */
    background-image: url(../assets/hockey3PS.jpg);
}